.cards {
  overflow: scroll;
  height: 100%;
  padding: 1rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  padding-bottom: 10rem;

  .card {
    flex-grow: 1;
    flex-basis: 20rem;
    max-width: 30rem;
    
    padding-inline: 1rem;
    padding-block: 0.75rem;
    background-color: #1c1c1c;
    border-radius: 0.5rem;

    color: rgb(217, 213, 213);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    img {
      width: 100%;
      border-radius: 1rem;
    }

    h1 {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .description {
      opacity: 0.7;
      word-spacing: 0.4rem;
      line-height: 1.3rem;
    }

    .tags {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      .tag {
        background-color: #373537;
        width: fit-content;

        padding-inline: 1.25rem;
        padding-block: 0.75rem;
        border-radius: 0.75rem;

        white-space: nowrap;
      }
    }

    .urls{
        display: flex;
        justify-content: space-between;
        align-items: center;

        a{
            text-decoration: none;
            color: white;
            font-weight: 500;
        }
    }
  }
}
