.window {
  height: 100%;
  background-color: rgb(13, 13, 13);
  border-radius: 0.75rem;
  overflow: hidden;

  color: wheat;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 500;

  .nav {
    padding-inline: 0.75rem;
    padding-block: 0.5rem;

    display: flex;
    gap: 1.25rem;
    align-items: center;
    border-bottom: 1px solid whitesmoke;

    .dots {
      display: flex;
      gap: 0.25rem;

      .dot {
        width: 15px;
        height: 15px;
        background-color: wheat;
        border-radius: 50%;
      }

      .red {
        background-color: crimson;
        cursor: pointer;
      }

      .yellow {
        background-color: gold;
        cursor: pointer;
      }

      .green {
        background-color: lightgreen;
        cursor: pointer;
      }
    }

    .title {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      img {
        width: 20px;
      }
    }
  }

  .main-content {
    height: 100%;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
  }

  *::-webkit-scrollbar{
    width: 8px;
  }

  *::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 4px;
  }
}
