* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: #222;
}

main {
  width: 100%;
  height: 100%;
  background-image: url("/luca-bravo-mxx-lVuVdFM-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
